<!DOCTYPE html>
<html>
  <head>
    <title>Volunteer Management</title>
    <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
  </head>

  <body>
    <%= yield %>
    <a href="/">Home</a>
  </body>
</html>
